<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {page: 'Characters'}); %>

  <body>
    <div class="container">
      <%- include('components/Header/header'); %>        
      <h1 style="display: flex; align-items: center; justify-content: center;">Personagens</h1>

      <main style="display: flex; align-items: center; justify-content: center;">
        <section class="container-carrossel">
          <div class="tocards">
            <% for(let i = 0; i < gsnc.length; i++ ){ %> <%-
            include('components/Card/card', { urlImg : gsnc[i].urlImg,
            cardbodytitle: gsnc[i].name, cardbodytext: gsnc[i].text }); %> <% }
            %>
          </div>
        </section>
      </main>
      <%- include('components/Footer/footer'); %>
    </div>
  </body>
</html>
