<div class="card">
  <img src="<%= typeof urlImg != 'undefined' ? urlImg : 'assets/UI_ChapterIcon_Dragonspine.png'%>" alt="">
  <div class="card-body">
    <h4><b><%= typeof cardbodytitle != 'undefined' ? cardbodytitle : 'Empty' %></b></h4> 
    <p><%= typeof cardbodytext != 'undefined' ? cardbodytext : 'Empty' %></p>
  </div>
</div>